[Desktop Entry]
Comment=Mix Mash Edit
Name=King Demon
X-KDE-PluginInfo-Author=Smokey
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=michaelcurtis5787@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=King Demon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/smokey5787/King-Demon-Theme
X-KDE-ServiceTypes=Plasma/LookAndFeel
